body {
    margin: 0%;
    padding: 0%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lavenderblush;
}

.text {
    width: 50%;
    height: 50%;
    text-align: center;
    align-content: center;
    background-color: lightpink;
    color: maroon;
}